# Dependency directories (ហាមយកទៅជាមួយ ព្រោះវាធ្ងន់)
node_modules/

# Environment variables (ហាមយកទៅជាមួយ ព្រោះវាជាការសម្ងាត់)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db